body {
	font-family: "PT Sans", sans-serif;
}

.table {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	border-collapse: collapse;
}

.table th {
	text-align: left;
	padding: 20px;
	background: #3a3a3a;
	color: #fff;
	text-transform: capitalize;
}
table td {
	padding: 20px;
}
table tr:nth-child(even) {
	background-color: #eee;
}
